<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<% if(person[0]=='gsazyy'){ %>
    <p>您是管理员<a href="./admin">点击进入管理中心</a></p>
<% }else{ %>
    <script>
        window.location.href="/index2";
    </script>
<% } %>

</body>
</html>