<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
   <div>
       <img src="" alt="">
   </div>
    <form action="/test/iyz" enctype="multipart/form-data" method="post">
        <input type="file" name="img" >
        <input type="submit">
    </form>
</body>
</html>