<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>uploadFile</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fileinput.css">
    <link rel="stylesheet" href="css/navTop.css">
    <link rel="stylesheet" href="css/uploadFile.css">
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/fileinput.js"></script>
    <script src="js/locales/zh.js"></script>
    <link rel="stylesheet" href="fonts/iconfont.css">
    <script src="js/navTop.js"></script>
    <script src="js/uploadFile.js"></script>

</head>
<body>
<div class="uploadMain">
    <ul class="tabControl">
        <li class="selected"><a href="javascript:;"><i class="iconfont icon-tupianshangchuan
"></i>图片上传</a></li>
        <li><a href="javascript:;"><i class="iconfont icon-shipinshangchuan"></i>视频上传</a></li>
        <li><a href="javascript:;"><i class="iconfont icon-xierijixuanzhong"></i>文字记录</a></li>
    </ul>
    <div class="uploadContent">
        <ul class="uploadContent-in">
            <li class="uploadImg">
                <form action="/test/iyz" method="post" enctype="multipart/form-data">
                    <div class="file-loading">
                        <input id="jack" name="img" type="file" multiple  accept="image/*">
                    </div>
                    <div class="alert alert-danger warning3" role="alert">
                        请选择需要上传的图片！
                    </div>
                    <div class="imgSetting">
                        <hr>
                        <h4>隐私设置：</h4>
                        <span class="radio">
                            <label>
                                <input type="radio" name="imgPrivacy" value="privacy" checked>
                                私密
                            </label>
                        </span>
                        <span class="radio">
                            <label>
                                <input type="radio" name="imgPrivacy" value="public">
                                公开
                            </label>
                        </span>
                        <div class="text-right">
                            <input type="submit" class="btn btn-success imgSubmit " value="确认上传">
                        </div>
                    </div>


                </form>

            </li>
            <!--上传视频-->
            <li class="uploadVideo">
                <form action="/test/vyz" class="form-inline" method="post" enctype="multipart/form-data">
                    <div>
                        <button class="chooseVideo">选择视频</button>
                        <input type="file" class="inner-input inputVideo" name="video" accept="video/*">
                    </div>

                    <div class="cover">
                        <hr>
                        <h3>封面设置</h3>
                        <div class="alert alert-info alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            您可以点击获取按钮，获取视频当前图像为封面，您也可以自行上传封面。
                        </div>

                        <div>
                            <video src="" id="preview"></video>
                            <button class="getPoster btn btn-primary">获取</button>
                            <span class="uploadPoster">
                                <button class="btn btn-primary">上传图片</button>
                                <input type="file" class="inner-input inputPoster" name="poster" accept="image/*">
                            </span>
                        </div>

                        <h4>封面预览</h4>
                        <img src="" alt="" class="poster">
                        <div class="alert alert-danger warning1" role="alert">
                            请选择视频封面！
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="videoTitle">视频标题：</label>
                            <input type="text" id="videoTitle" name="videoTitle" class="form-control">
                        </div>
                        <div class="alert alert-danger warning2" role="alert">
                            视频标题不可为空！
                        </div>
                        <hr>
                        <h4>隐私设置：</h4>
                        <div class="radio">
                            <label>
                                <input type="radio" name="videoPrivacy" value="privacy" checked>
                                私密
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="videoPrivacy" value="public">
                                公开
                            </label>
                        </div>
                        <div class="text-right">
                            <input type="reset" value="取消上传" class="videoReset btn btn-warning">
                            <input type="submit" value="确认上传" class="videoSubmit btn btn-success">
                        </div>
                    </div>
                </form>
            </li>
            <li class="writeDiary">
                <form method="post" action="/diary/ryz" enctype="multipart/form-data" >
                    <div class="form-group">
                        <label for="diaryTitle">标题：</label>
                        <input type="text" name="jianjie" id="diaryTitle" class="form-control">
                    </div>
                    <hr>

                    <div class="form-group">
                        <label for="diaryContent">内容：</label>
                        <textarea class="form-control" name="content" id="diaryContent" rows="8" maxlength="2000"></textarea>
                    </div>
                    <pre></pre>
                    <div class="alert alert-danger warning4" role="alert">
                        日记标题与内容不能为空！
                    </div>
                    <div class="form-group">
                        <label for="input-b5">选择配图：</label>
                        <input id="input-b5" name="img" type="file" multiple accept="image/*">
                    </div>
                    <hr>
                    <h4>隐私设置：</h4>
                    <div class="radio">
                        <label>
                            <input type="radio" name="diaryPrivacy" value="privacy" checked>
                            私密
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="diaryPrivacy" value="public">
                            公开
                        </label>
                    </div>
                    <div class="text-right">
                        <input type="reset" value="清空内容" class="btn btn-warning diaryReset">
                        <input type="submit" value="确认上传" class="btn btn-success diarySubmit">
                    </div>
                </form>
            </li>
        </ul>
    </div>
</div>
</body>
</html>