<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        form{
            width: 400px;
            height: 300px;
            margin: 100px auto;
        }
        input{
            width: 270px;
            height: 30px;
            margin-top: 10px;
        }
    </style>
</head>
<body>

<form method="post" action="/diary/ryz" enctype="multipart/form-data" >
    <label>日期</label>
    <input type="text" name="data"><br>
    <label>简介</label>
<input type="text" name="jianjie"><br><br>
    <label>内容</label>
    <textarea name="content" cols="36" rows="10"></textarea><br>
    <label>图片</label>
    <input type="file" name="img" multiple="multiple">

    <input type="submit" value="提交">
</form>
</body>
</html>